[user]
	name = Martin Thong
	email = martin.thong@company.com
[includeIf "gitdir:/Users/martin.thong/Documents/gitlab/"]
    path = ~/.gitconfig-gitlab.txt
[includeIf "gitdir:/Users/martin.thong/Documents/github/"]
    path = ~/.gitconfig-github.txt

[core]
	excludesfile = /Users/martin.thong/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	branch = false
[alias]
	lg = "!f() { git -c color.ui=always log --pretty=format:\"%C(auto,yellow)%h%Creset %C(auto,green)%<(15,trunc)%an%Creset %C(auto, cyan reverse)%<(12,trunc)%ar%Creset %s\" --graph -n20 $@ | sed -e \"s/\\[[-A-Z0-9]*\\]/$(tput setaf 172)&$(tput sgr0)/g\";      }; f"
